<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<nav th:fragment="paginador">
		<div class="d-flex justify-content-center">
			<ul class="pagination">
				<li class="page-item" th:each="item : ${renpag.paginas}"
					th:class="${item.actual? 'page-item active' : 'page-item'}"><span
					class="page-link" th:if="${item.actual}" th:text="${item.numero}"></span>
					<a class="page-link" th:if="${not item.actual}"
					th:href="@{${renpag.url}(page=${item.numero-1})}"
					th:text="${item.numero}"></a></li>
			</ul>
		</div>
	</nav>
</body>
</html>