<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<title>App trueknic | Pablo Giraldo</title>
<th:block th:insert="base.html :: head">
</th:block>
</head>
<body>
	<div th:replace="base.html :: jumbo"></div>
	<nav th:replace="base.html :: nav"></nav>
	<div class="container" style="margin-top: 30px">
		<div class="row">
			<div class="col-sm-12">
				<br>
				<h1 style="text-align: center;">Capturas de trueknic.com</h1>
				<br>
				<div>
					<img th:src="@{img/captura_trueknic.jpg}" alt="Captura trueknic">
				</div>
				<br>
				<div>
					<img th:src="@{img/captura_trueknic_b.jpg}" alt="Captura trueknic">
				</div>
				<br>
				<div>
					<img th:src="@{img/captura_trueknic_d.jpg}" alt="Captura trueknic">
				</div>
				<br>
				<div>
					<img th:src="@{img/captura_trueknic_e.jpg}" alt="Captura trueknic">
				</div>
				<br>
				<div>
					<img th:src="@{img/captura_trueknic_f.jpg}" alt="Captura trueknic">
				</div>
				<br>
				<div>
					<img th:src="@{img/captura_trueknic_g.jpg}" alt="Captura trueknic">
				</div>
				<br>
				<div>
					<img th:src="@{img/captura_trueknic_i.jpg}" alt="Captura trueknic">
				</div>
				<br> <br>
			</div>
		</div>
	</div>
	<footer th:replace="base.html :: footer"></footer>
</body>
</html>